.rank {
  display: flex;
  width: 30px;
  height: 10px;
  position: absolute;
  top: 58px;
  right: -3px;
  transform: rotate(-104deg);
}

.star {
  width: 10px;
  height: 10px;
  background-image: url(/image/star_rank.png);
  background-size: 10px;
}
