.container {
    display: flex;
    flex-wrap: wrap;
}

.dialtop {
    position: relative;
    background-image: url(/image/dialtop_clean_no_arc.png);
    background-size: 160px;
    width: 160px;
    height: 160px;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 80px;
}
