.click {
  position: absolute;
  width: 100%;
  height: 100%;
}
.click0 {
  transform: rotate(0deg);
}
.click1 {
  transform: rotate(-30deg);
}
.click2 {
  transform: rotate(-60deg);
}
.click3 {
  transform: rotate(-90deg);
}
.click4 {
  transform: rotate(-120deg);
}
.click5 {
  transform: rotate(-150deg);
}
.click6 {
  transform: rotate(-180deg);
}
.click7 {
  transform: rotate(-210deg);
}
.click8 {
  transform: rotate(-240deg);
}
.click9 {
  transform: rotate(-270deg);
}
.click10 {
  transform: rotate(-300deg);
}
.click11 {
  transform: rotate(-330deg);
}

.stat {
  position: absolute;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: $black;
  width: 15px;
  height: 15px;
  text-align: center;
  letter-spacing: -1px;
  padding-right: 1px;
  box-sizing: border-box;
}
.spd {
  bottom: 41px;
  left: 76px;
}
.atk {
  bottom: 25px;
  left: 76px;
}
.def {
  bottom: 9px;
  left: 76px;
}
.dmg {
  bottom: 10px;
  left: 91px;
  transform: rotate(-26deg);
  text-align: right;
  box-sizing: border-box;
  padding-right: 2px;
  z-index: 70;
}

.startBg {
  width: 0;
  height: 0;
  border-top: 8px solid $green;
  border-left: 8px solid $green;
  border-right: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 50;
  padding: 0;
}
.firstAbility {
  z-index: 30;
}
.lvl {
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 1px limegreen solid;
  border-radius: 6px;
  bottom: 18px;
  left: 88px;
  transform: rotate(-13deg);
  font-size: 12px;
  line-height: 9px;
  text-align: center;
  vertical-align: middle;
  font-weight: normal;
  z-index: 100;
  background-color: $white;
}
.skull {
  overflow: hidden;
  color: transparent;
  background-image: url(/image/skull_stat.png);
  background-size: 14px;
}
.skullDmg {
  background-image: none;
}

.round {
  border-radius: 7px;
}
.black {
  background-color: $black;
  color: $white;
}
.blue {
  background-color: $blue;
  color: $white;
}
.green {
  background-color: $green;
  color: $white;
}
.grey {
  background-color: $grey;
}
.orange {
  background-color: $orange;
}
.red {
  background-color: $red;
  color: $white;
}
.yellow {
  background-color: $yellow;
}

.firstValue {
  background-color: transparent;
}
