.items {
  display: flex;
  align-items: end;
}
.item {
  margin-left: 40px;
}
.currentlink {
  font-size: 16px;
  font-weight: bold;
  color: $black;
}
.itemLink {
  font-size: 16px;
  color: $grey;
}
